<section class="book-gallery" aria-label="Library">
  
  <div class="gallery-header">
    <div class="gallery-header-buttons">
      <button class="filter-btn" [class.active]="currentFilter === 'all'" (click)="filterBooks('all')">All Books</button>
      <button class="filter-btn" [class.active]="currentFilter === 'finished'"(click)="filterBooks('finished')">Finished</button>    
      <button class="filter-btn" [class.active]="currentFilter === 'toRead'"(click)="filterBooks('toRead')">To Read</button>
      <button class="filter-btn" [class.active]="currentFilter === 'reading'"(click)="filterBooks('reading')">In Progress</button>
      <button class="btn-add" routerLink="/new-book">Add New Book</button>
    </div>
  </div>

  <div class="books-grid">
    @for (book of currentBooks; track book.title; let i = $index) {
      <div class="book-card" [attr.data-status]="book.status">
        <div class="book-image">
          <img [src]="book.photo || 'assets/images/default-book.png'" [alt]="book.title">
        </div>
        
        <div class="book-info">
          <h3>{{ book.title }}</h3>
          <p class="author">{{ book.author }}</p>
          <span class="status"
            [class.status-to-read]="book?.status === 'To Read'"
            [class.status-reading]="book?.status === 'Reading'"
            [class.status-finished]="book?.status === 'Finished'">
              {{ book?.status }}
          </span>
        </div>
      </div>
    } 
  </div>


  @if (filteredBooks.length > itemsPerPage) {
    <div class="pagination-container">
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-btn">← Previous </button>
        
        @for (page of getPages(); track page) {
          <button class="pagination-btn" [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</button>
        }
        
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-btn"> Next →</button>
      </div>
      
      <div class="page-info">
        Page {{ currentPage }} of {{ totalPages }} ({{ filteredBooks.length }} total)
      </div>
    </div>
  }
</section>
