:root {
  --fundo-pagina: #f5f5f7ff;
  --fundo-cartoes: #ececf4ff;
  --hover-cartoes: #dddcf1ff;
  --botoes-secundarios: #cecceeff;
  --botao-primario: #b1ade8ff;
  --botao-hover: #938de2ff;
  --titulos: #716cb4ff;
  --destaques-fortes: #4f4a85ff;
  --texto-principal: #2a2730ff;
  --texto-secundario: #6b6a75ff;
  --header-fundo: #ececf4ff;                 
  --footer-fundo: #dddcf1ff; 
  --status-toRead: #b58fa6;      
  --status-reading: #b7b6a4;    
  --status-finished: #70806e; 

}

[data-theme="dark"] {
  --fundo-pagina: #2a2730ff;        
  --fundo-cartoes: #4f4a85cc;       
  --hover-cartoes: #716cb466;      
  --botoes-secundarios: #938de2cc;  
  --botao-primario: #b1ade8ff;      
  --botao-hover: #716cb4ff;         
  --titulos: #f5f5f7ff;             
  --destaques-fortes: #ececf4ff;   
  --texto-principal: #f8f7fcff;     
  --texto-secundario: #dddcf1ff;
  --header-fundo: #4f4a85cc;     
  --footer-fundo: #716cb466;   
  --status-toRead: #f9bfce;    
  --status-reading: #fcfae3;    
  --status-finished: #e3f7e1;   
}

* {
  font-family: "Rounded Mplus 1c", "Quicksand", "Comfortaa", -apple-system, sans-serif;
}

body {
  margin: 0;
  background: var(--fundo-pagina);
}